<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://funcappnotify.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/b5a16128-7e84-4725-8c7a-d094cfb9df2a/resourceGroups/group1/providers/Microsoft.Web/sites/funcappNotify</ResourceId>
    <UserName>$funcappNotify</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://funcappnotify.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>